<h1>Linked Pivotal Acocunts</h1>
<table>
  <thead>
    <tr>
      <th>API Key</th>
      <th></th>
    </tr>
  </thead>

  <tbody>	
	<% @pivotal_accounts.each do |p| %>
	  <tr>
	    <td><%= p.api_key %></td>
	    <td><%= link_to 'Destroy', p, method: :delete %></td>
	  </tr>
	<% end %>

  </tbody>
</table>

<h1>Projects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pivotal ID</th>
      <th>Project Name</th>
      <th>Synced</th>
      <th></th>
    </tr>
  </thead>

  <tbody> 

    <% @projects.each do |p| %>
      <tr>
        <td><%= p.external_id %></td>
        <td><%= p.name %></td>
        <td>
          <% if p.subscribe==true %>
            <i class="green fa fa-thumbs-up"></i>
            <% else %> 
              <i class="red fa fa-thumbs-down"></i> 
          <% end %>
        </td>
        <td>
          <% if p.subscribe==true %>
             <%= link_to 'Unsync', edit_project_path(p) %>
            <% else %> 
               <%= link_to 'Sync', edit_project_path(p) %>
          <% end %>

        </td>
      </tr>
    <% end %>


  </tbody>
</table>

